.post-footer {
    margin-top: 3em;
    padding-top: 1.5em;
    border-top: 1px solid #ddd;
    .post-footer-logo {
        display: flex;
        align-items: center;
    }
    .site-title {
        width: 200px;
        a {
            padding-bottom: 2px;
            box-shadow: 0 1px 0 0 currentColor;
            &:hover {
                box-shadow: none;
            }
        }
    }
    .pagination {
        .previous-next {
            display: flex;
            justify-content: space-between;
            margin: 2em 0 1em;
            padding: 1.5em 0;
            border-top: 1px solid #ddd;
            font-size: 12px;
            .previous-link, .next-link {
                padding-bottom: 2px;
                box-shadow: 0 1px 0 0 #0056ac;
                max-width: 49%;
                &:hover {
                    box-shadow: none;
                }
            }
        }
    }
}


